@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #e5e5e5;
    color: #111;

    background-image: url('images/left.jpg'), url('images/right.jpg');
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
    background-size: 200px auto, 200px auto;
}

.page-wrapper {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 60px 40px;
    min-height: 100vh;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 22px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.profile-photo {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 40px auto;
    border: 4px solid #111;
}

.video-circle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #ddd;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #555;
    border: 4px solid #111;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 22px 60px;
    border-radius: 50px;
    background: #111;
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
}

.btn.small {
    font-size: 20px;
    padding: 18px 45px;
    margin: 50px auto 0 auto;
    display: block;
}

.project img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}

.project h3 {
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    body {
        background: white;
        background-image: none;
    }

    .page-wrapper {
        padding: 30px;
    }

    .profile-photo,
    .video-circle {
        width: 220px;
        height: 220px;
    }

    .btn {
        font-size: 20px;
        padding: 18px 45px;
    }
    .video-circle iframe {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
